# Ignore node_modules in any subfolder
**/node_modules/

# Ignore .env files in any subfolder
**/.env

# Logs
**/*.log

# Builds (Next.js, React, etc.)
**/dist/
**/build/
**/.next/
**/.expo/

# OS + Editor stuff
.DS_Store
Thumbs.db
.vscode/
